body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#ff9eb5,#ffc3d1);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.app{
    width:90%;
    max-width:500px;
    background:white;
    padding:30px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
    font-size:45px;
    color:#d6336c;
}

.tagline{
    color:gray;
}

.features{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin:25px 0;
}

.card{
    background:#ffe5ec;
    padding:18px;
    border-radius:15px;
    font-weight:bold;
}

input{
    width:90%;
    padding:14px;
    margin:10px 0;
    border-radius:12px;
    border:1px solid #ddd;
    font-size:15px;
}

.buttons{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-top:18px;
}

button{
    padding:14px;
    border:none;
    border-radius:12px;
    background:#d6336c;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#b02558;
}

#output{
    margin-top:18px;
    font-weight:bold;
    color:#d6336c;
}
.fake-screen{
    display:none;
    margin-top:20px;
    padding:20px;
    background:#ffe6ee;
    border-radius:20px;
}

.fake-screen h2{
    color:#d63384;
}

.fake-screen button{
    margin:10px;
    padding:12px 20px;
    border:none;
    border-radius:12px;
    background:#ff4d88;
    color:white;
    cursor:pointer;
}
#clock{
    color:#d63384;
    margin-bottom:20px;
}
footer{
    margin-top:30px;
    color:gray;
    font-size:14px;
}